p {
    margin: 0 0 2em 0;
    text-align: justify;
}

.row > * {
    padding: 0 2.5em 0 0;
}

.row{
    margin: 0;
}

.work-item {
    padding: 2em;
    border-top: solid 1px #efefef;
}

.work-item {
    margin: 0 0 0 0;
}

.work-item h3 {
    font-size: 1em;
    margin: 0 0 1em 0;
    padding-top: 0.5em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 1em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0.5em 0 0.5em 0;
}

.work-item{
    border-top: solid 1px #efefef;
}

h6 {
    font-size: 1.2em;
    line-height: 1em;
    color: #a2a2a2;
    padding-bottom: .6em;
}

.work-item ul li {
    padding-left: 0.5em;
    margin-left: 2em;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: #fff;
    border: 1px solid #49bf9d;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 1px; 
    background-color: #49bf9d;
}

.carousel-indicators {
    position: absolute;
    bottom: -1.5em;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

ol.carousel-indicators {
    margin-bottom: 0;
}

ul.labeled-icons li {
    line-height: 1.75em;
    margin: 1.5em 0 0 0;
    padding-left: 0;
    position: relative;
}

.icon-inline::before {
    margin-right: .5em;
    font-size: larger;
    vertical-align: middle;
}
.icon-inline span {
    border-bottom: dotted 1px;
}

.accordion-indicator { 
    float: right;
    opacity: .6;
    transition: transform ease-in-out .3s;
    transform: rotate(0deg);
}

.accordion-active {
    transform: rotate(90deg);
    transition: transform ease-in-out .3s;
}

h2.pointer:hover {
    color: #49bf9d !important;
}

@media screen and (max-width: 480px) {
    ul.actions {
        margin: .75em 0 2em 0;
    }
}


/* Details View */

.details-view-content {
    display: none;
}