.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: #fff;
    border: 1px solid #49bf9d;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 1px; 
    background-color: #49bf9d;
}

.carousel-indicators {
    position: absolute;
    bottom: -1.5em;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

ol.carousel-indicators {
    margin-bottom: 0;
}

ul.labeled-icons li {
    line-height: 1.75em;
    margin: 1.5em 0 0 0;
    padding-left: 0;
    position: relative;
}

.icon-inline::before {
    margin-right: .5em;
    font-size: larger;
    vertical-align: middle;
}
.icon-inline span {
    border-bottom: dotted 1px;
}

.accordion-indicator { 
    transition: transform ease-in-out .3s;
}
.accordion-active {
    transform: rotate(90deg);
    transition: transform ease-in-out .3s;
}

@media screen and (max-width: 480px) {
    ul.actions {
        margin: .75em 0 2em 0;
    }
}